lib
node_modules
test/ideaAirAndroidProject/*.mobileprovision
test/ideaAirAndroidProject/*.p12
test/ideaAirAndroidProject/out
test/ideaFolderProject/out
test/ideaFolderLinkedProject/out
test/ideaFolderCOProject/out
